.container{
    width: 100%;
    margin:0 auto;
    ;
}
body {
    position: relative;
    width: 1280px;
    height: 1626px;
    font-family: Montserrat, sans-serif;
    left: calc(50% - 1280px / 2);
    top: calc(50% - 1626px / 2);
    background: rgba(0, 0, 0, 0.0001);
}

.navigation {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 32px;
}

ul {
    list-style: none
}

.navlink-design {
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
}

.navlink-home {
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0;
    top: -6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
}

.navlink-photoapp {
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
}

.navlink-download {
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
}

.img {
    position: absolute;
    width: 1280px;
    height: 789px;
    top: 78px;
    background: url("../img/image 1.png") no-repeat;
    margin: 0 auto;
}

.mcontent {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px / 2);
    bottom: 108px;
    background: rgba(0, 0, 0, 0.0001);
}

.h2 {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 300px;
    top: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
}

.first {
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: black;
}

.second {
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67px;
    top: 275px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: black;
}

.rectangle {
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
}

.textrectangle {
    position: absolute;
    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    display: flex;
    align-items: center;
    letter-spacing: 1.9px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.foot {
    position: absolute;
    width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
}

.textfoot {
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    color: #373737;
}
